{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off"
  },
  "extends": ["eslint:recommended", "google"]
}